.github-btn {
  border-color: #24292e !important;
  background: #24292e !important;
  color: #fff !important;
}

.github-btn:hover {
  background: #555 !important;
}
.session-container {
  background: #fff;
  max-width: 460px;
  margin: 80px auto;
  border-radius: 5px;
  box-shadow: -2px 4px 26px 0 rgb(0 0 0 / 10%);
}

.singup-or-rememberme {
  display: flex;
  justify-content: center;
  align-items: center;
}

.already-account-sing-in {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.account-public-content {
  width: 460px !important;
}
